# Terraform files
.terraform/
*.tfstate
*.tfstate.lock.info
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
# Credentials (if you ever copy them here)
.aws/
.azure/
*.out

# OS files
.DS_Store
Thumbs.db
